[Unit]
Description=gmi for account %i

[Service]
Type=oneshot
Environment=NOTMUCH_PROFILE=%i
ExecStart=bash -c 'gmi sync -C $(notmuch config get database.mail_root) -s'
