[Unit]
Description=Mozc Server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/lib/mozc/mozc_server
ExecStop=/bin/kill -SIGTERM $MAINPID
KillMode=process

[Install]
WantedBy=graphical-session.target
