[Unit]
Description=Rotate screen and touchpad
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/rotate
Restart=on-failure

[Install]
WantedBy=graphical-session.target
