/*
!/.*
/.*_history
/.ICEauthority
/.Xauthority
/.adobe/*
/.cache/*
/.chpwd-recent-dirs
/.dbus/*
/.dmrc
/.dropbox-dist/*
/.dropbox/*
/.dvdcss/*
/.gstreamer-*/*
/.local/*
/.macromedia/*
/.mono/*
/.mozc/*
/.mozilla/*
/.mutt/cache/*
/.opam/*
/.thumbnails/*
/.uim.d/*
/.vim/bundle/*
/.vim/local.vim
/.vim/spell/*
/.vim/swap/*
/.viminfo
/.xfce4-session.verbose-log*
/.xsession-errors*
/.zcompdump
*.local
*_local
