[alias]
	ba = branch -a
	br = branch
	ci = commit
	cia = commit --amend
	ciaa = commit --amend --reset-author
	co = checkout
	com = checkout master
	di = diff
	dic = diff --cached
	diffc = diff --cached
	diffs = diff --stat
	difft = difftool
	diffw = diff --word-diff
	dis = diff --stat
	dit = difftool
	diw = diff --word-diff
	fp = fetch --prune
	glog = log --graph --oneline --decorate
	sh = show
	showw = show --word-diff
	shw = show --word-diff
	st = status
[core]
	quotepath = false
[diff]
	algorithm = histogram
	tool = vimdiff
[push]
	default = current
[rebase]
	autosquash = true
	autostash = true
[tag]
	sort = version:refname
[status]
	branch = true
	short = true
[include]
	path = ~/.gitconfig.local
