# Ignore all non-dotfiles.
/*
!/.*

# Ignore files managed by applications.
/.*_history
/.CFUserTextEncoding
/.DS_Store
/.ICEauthority
/.Trash/*
/.Xauthority
/.adobe/*
/.cache/*
/.chpwd-recent-dirs
/.dbus/*
/.dmrc
/.dovecot.lda-dupes
/.dropbox-dist/*
/.dropbox/*
/.dvdcss/*
/.fzf/*
/.gem/*
/.ghc/ghci_history
/.gnupg/dirmngr-cache.d/*
/.gnupg/private-keys-v1.d/*
/.gnupg/pubring.*
/.gnupg/random_seed
/.gnupg/secring.gpg
/.gnupg/sshcontrol
/.gnupg/trustdb.gpg
/.gnupg/trustlist.txt*
/.gstreamer-*/*
/.lesshst
/.local/*
/.macromedia/*
/.mono/*
/.mozc/*
/.mozilla/*
/.mutt_certificates
/.npm/*
/.omake/cache/*
/.opam/*
/.pip/*
/.rnd
/.serverauth.*
/.sieve*
/.thumbnails/*
/.tsd-cache/*
/.uim.d/*
/.unite/*
/.vim/.netrwhist
/.vim/bundle/*
/.vim/spell/*
/.vim/swap/*
/.vim/tags/*
/.viminfo
/.vimtestinfo
/.w3m/history
/.xfce4-session.verbose-log*
/.xsession-errors*
/.zcompcache/*
/.zcompdump
/.zsh/antigen/*


# Ignore host local configuration files.
*.local
*_local
/.mail_aliases
/.procmailrc
/.signature
/.skk-jisyo.BAK
/.skk-record
/.vim/local.vim
