xset b off
xset dpms 600 600 600
xset r rate 225 35

hsetroot -solid black

fc-match -v \
    | awk '/antialias|autohint|hinting|hintstyle|lcdfilter|rgba/ {sub(/\(.*/, "", $2); printf "Xft.%s %s\n",$1,$2}' \
    | xrdb -merge

[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || [ "$XDG_CURRENT_DESKTOP" = "GNOME" ] || export QT_QPA_PLATFORMTHEME="qt5ct"

export GTK_IM_MODULE=uim
export QT_IM_MODULE=uim
export XMODIFIERS="@im=uim"
which uim-xim >/dev/null 2>&1 && uim-xim &

which unclutter >/dev/null 2>&1 && unclutter &

for p in 'pointer:Logitech MX Ergo' 'pointer:Logitech M570'; do
    xinput list "$p" >/dev/null 2>&1 || continue
    xinput --set-prop "$p" 'libinput Scroll Method Enabled' 0 0 1
    xinput --set-prop "$p" 'libinput Middle Emulation Enabled' 1
done
