launch_once() {
    pgrep -U "${USER}" "$1" >/dev/null 2>&1 && return
    which "$1" >/dev/null 2>&1 || return
    "$@" &
}

xset b off
xset dpms 600 600 600
xset r rate 225 35

hsetroot -solid black

[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || [ "$XDG_CURRENT_DESKTOP" = "GNOME" ] || export QT_QPA_PLATFORMTHEME="qt5ct"

launch_once unclutter

for p in 'pointer:Logitech MX Ergo' 'pointer:Logitech M570'; do
    xinput list "$p" >/dev/null 2>&1 || continue
    xinput --set-prop "$p" 'libinput Scroll Method Enabled' 0 0 1
    xinput --set-prop "$p" 'libinput Middle Emulation Enabled' 1
done

for k in 'ErgoDox EZ ErgoDox EZ'; do
    xinput list "$p" >/dev/null 2>&1 || continue
    setxkbmap -device $(xinput list --id-only "$k") -option ''
done
