#include ".Xresources.d/colors/moria"

#define FONT_SIZE	14

#ifdef SRVR_shiron
Xft.dpi: 144

i3wm*layout:		wqhd-small
i3wm*terminalWidth:	992
i3wm*terminalWidthWide:	1232
#endif

!
! URxvt
!
URxvt*scrollBar:	false
URxvt*fading:		15

! Fonts
URxvt*font:		[codeset=USASCII]xft:DejaVu Sans Mono:pixelsize=FONT_SIZE,\
			xft:IPAGothic:pixelsize=FONT_SIZE,\
			xft:DejaVu Sans Mono:pixelsize=FONT_SIZE,\
			xft:Symbola:pixelsize=FONT_SIZE
URxvt*imFont:		-*-*-*-R-*-*-FONT_SIZE\-*-*-*-*-*-*
URxvt*lineSpace:	2
URxvt*letterSpace:	-1

! Extensions
URxvt*perl-ext-common:	default,matcher,selection-to-clipboard,resize-font
URxvt*matcher.button:	1
URxvt*url-launcher:	url-launcher

URxvt*keysym.C-apostrophe: perl:matcher:list
